.productList__wrapper {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;

    @media screen and (min-width: 640px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin: 0 10px;
    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }


    .productItem__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }

        .productItem__carousel {

            .slick-slider {

                button.slick-prev,
                button.slick-next {
                    z-index: 100 !important;
                    // @apply top-[50%] bg-white rounded w-[28px] h-[28px];
                    top: 50%;
                    background: #fff;
                    border-radius: 0.25rem
                        /* 4px */
                    ;
                    width: 28px;
                    height: 28px;
                }

                .slick-prev::before,
                .slick-next::before {
                    // @apply text-[25px] text-black relative text-center leading-[30px];
                    font-size: 25px;
                    color: rgb(0 0 0);
                    position: relative;
                    text-align: center;
                    line-height: 30px;
                }


                .slick-prev {
                    // @apply left-2;
                    left: 0.5rem
                        /* 8px */
                    ;
                }

                .slick-next {
                    // @apply right-2;
                    right: 0.5rem
                        /* 8px */
                    ;
                }

                .slick-arrow.slick-prev.slick-disabled {
                    color: white !important;
                }

                .slick-arrow.slick-next.slick-disabled {
                    color: white !important;

                }

                .slick-dots {
                    // @apply bottom-3;
                    bottom: 0.75rem
                        /* 12px */
                    ;

                    li {
                        // @apply w-3
                        width: 0.75rem
                            /* 12px */
                        ;
                    }
                }

                .slick-dots .slick-active button::before {
                    // @apply text-blue-700 text-[10px]
                    color: rgb(29 78 216);
                    font-size: 10px;
                }
            }

            .productItem__carousel-item {
                // @apply w-[282px] h-[278px] rounded-md;
                width: 282px;
                height: 278px;
                border-radius: 0.375rem
                    /* 6px */
                ;


                .productItem__carousel-item-img {
                    // @apply w-full h-full rounded-md;
                    width: 100%;
                    height: 100%;
                    border-radius: 0.375rem
                        /* 6px */
                    ;
                }
            }
        }

        .productItem__info {
            // @apply flex flex-col justify-center mt-2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 0.5rem;

            p {
                // @apply text-[14px];
                font-size: 14px;

                &:first-child {
                    // @apply font-semibold mb-2
                    font-weight: 600;
                    margin-bottom: 0.5rem
                        /* 8px */
                    ;
                }

                span {
                    // @apply font-medium
                    font-weight: 500;
                }
            }

        }

    }
}