@mixin section-underline {
    &::after {
        content: '';
        background: #e5e7eb;
        display: block;
        height: 1px;
        width: 100%;
        margin-top: 1.5rem;
    }
}

.detailroom__wrapper {
    .detailroom__title {
        font-weight: 600;
        font-size: 1.875rem;
        letter-spacing: 0.1em;
    }

    .detailroom__location {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            text-decoration: underline;
            font-size: 0.875rem;
            font-weight: 400;
            letter-spacing: 0.1em;
            margin: 0 0.25rem;
        }

        div {
            span {
                font-size: 0.875rem;
                font-weight: 600;
                padding: 0.25rem 0.5rem;
                border-radius: 0.5rem;
                transition-property: all;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 150ms;

                &:hover {
                    background-color: #f0f4f8;
                    /* Example background color */
                    cursor: pointer;
                }
            }
        }
    }

    .detailroom__img-section {
        margin-top: 1.25rem;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
        gap: 1.25rem;
        height: 380px;

        .detailroom__img-item {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:first-child {
                grid-column: span 2 / span 2;
                grid-row: span 2 / span 2;

                img {
                    width: 100%;
                    object-fit: cover;
                    border-top-left-radius: 0.75rem;
                    border-bottom-left-radius: 0.75rem;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
            }

            &:nth-child(3) {
                img {
                    width: 100%;
                    height: 100%;
                    border-top-right-radius: 0.75rem;
                    overflow: hidden;
                }
            }

            &:last-child {
                img {
                    width: 100%;
                    height: 100%;
                    border-bottom-right-radius: 0.75rem;
                    overflow: hidden;
                }
            }

            grid-column: span 1 / span 1;
        }
    }

    .detailroom__desc-section {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 2.5rem;

        .detailroom__desc-detail {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            grid-column: span 8 / span 8;

            .detailroom__desc-introduce {
                padding-top: 1rem;
                padding-bottom: 1rem;
                @include section-underline;

                .detailroom__desc-detail-title {
                    color: rgb(31 41 55);
                    font-weight: 600;
                    font-size: 1.125rem;
                    line-height: 1.75rem;

                    .sm-text-2xl {
                        font-size: 1.5rem;
                        line-height: 2rem;
                    }
                }

                .dedetailroom__desc-detail-totalroom {
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    font-weight: 400;
                    letter-spacing: 0.1em;
                    color: rgb(55 65 81);

                    span {
                        margin-left: 0.25rem;
                        margin-right: 0.25rem;
                    }
                }
            }

            .detailroom__desc-general {
                padding: 1rem;
                @include section-underline;

                .general__item {
                    display: flex;
                    justify-content: start;
                    align-items: start;
                    margin-bottom: 1.25rem;

                    i {
                        font-size: 1.5rem;
                    }

                    div {
                        margin-left: 1rem;

                        h3 {
                            font-weight: 600;
                            color: #1f2937;
                            font-size: 1rem;
                        }

                        p {
                            color: #6b7280;
                            font-size: 14px;
                        }
                    }
                }
            }

            .detailroom__desc-intro-web {
                padding: 1rem;
                @include section-underline;

                img {
                    object-fit: contain;
                    margin-bottom: 1rem;
                }

                p {
                    margin-bottom: 1rem;
                    font-size: 16px;
                    color: #1f2937;
                    letter-spacing: wider;
                }

                a {
                    text-decoration: underline;
                    font-weight: 600;
                }
            }

            .detailroom-desc-more {
                @include section-underline();

                p {
                    font-size: 16px;
                    letter-spacing: wider;
                    color: #1f2937;
                    margin-bottom: 1rem;
                }

                a {
                    font-weight: 600;
                    text-decoration: underline;
                }
            }

            .detailroom-desc-utils {
                padding: 1.25rem;
                @include section-underline();

                p {
                    font-weight: 600;
                    color: #1f2937;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }

                .detailroom-desc-utils-child {
                    .detailroom-desc-utils-child-list {
                        border: none;

                        .ant-spin-nested-loading {
                            padding: 0;

                            .ant-spin-container {
                                padding: 0;

                                .ant-list-items {
                                    display: grid;
                                    grid-template-columns: repeat(2, minmax(0, 1fr));
                                    border: none;

                                    .ant-list-item.detailroom-desc-utils-child-list-item {
                                        border-block-end: none !important;
                                    }
                                }
                            }
                        }
                    }

                    button {
                        margin-top: 1rem;
                        border: 1px solid #4b5563;
                        background-color: transparent;
                        transition: all 200ms;
                        border-radius: 0.25rem;
                        padding: 0.75rem 1.25rem;
                        font-weight: 600;
                        font-size: 16px;
                        color: #1f2937;

                        &:hover {
                            background-color: #f0f4f8;
                            /* Example background color */
                            cursor: pointer;
                        }
                    }

                    div {
                        padding: 0.5rem;
                    }
                }
            }
        }

        .detailroom__desc-booking {
            grid-column: span 4 / span 4;
            padding-top: 2.5rem;

            .detailroom-booking__wrapper {
                padding: 1rem;
                border-radius: 0.25rem;
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
                border: 1px solid #4b5563;
                position: sticky;
                top: 1rem;
                width: 95%;

                .detailroom-booking__heading {
                    display: none;

                    p {
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                }

                .date-section {
                    width: 100%;
                    border: 1px solid #e5e7eb;
                    border-radius: 0.25rem;

                    .datePicker {
                        display: flex;
                        border-bottom: 1px solid #e5e7eb;

                        .k-dateinput {
                            input {
                                width: 100%;
                                background-color: transparent;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

                .customerChoose {
                    padding: 0.5rem;

                    p {
                        font-size: 12px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }

                    div {
                        display: flex;
                        justify-content: space-between;

                        button {
                            width: 2rem;
                            height: 2rem;
                            background-color: #cbd5e0;

                            &:hover {
                                background-color: #ef4444;
                                /* Example background color */
                                cursor: pointer;
                            }
                        }
                    }
                }

                .detailroom-booking__btn-section {
                    .detailroom-booking__btnbooking {
                        width: 100%;
                        padding: 0.75rem 1rem;
                        margin-top: 1rem;
                        border-radius: 0.5rem;
                        font-size: 1.25rem;
                        font-weight: 600;
                        color: #ffffff;
                        background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                .detailroom-booking__total-section {
                    padding: 0.75rem 0;
                    border-bottom: 1px solid #e5e7eb;

                    .detailroom-booking__totalprice,
                    .detailroom-booking__totalfee {
                        display: flex;
                        justify-content: space-between;
                        padding: 0.25rem 0;
                    }
                }

                .detailroom-booking__totalbeforetax {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1.25rem;
                    font-weight: 600;
                    padding-top: 0.75rem;
                }
            }
        }
    }

    .detailroom__comments {
        h1 {
            font-weight: bold;
            font-size: 1rem; // Adjust as needed
            margin-bottom: 1rem; // Adjust as needed
        }

        .detailroom-comments-btn {
            margin-top: 1rem; // Adjust as needed
            border: 1px solid #2d3748; // Adjust color as needed
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            padding: 0.75rem 1.25rem; // Adjust as needed
            font-weight: bold;
            font-size: 1rem; // Adjust as needed
            color: #1a202c; // Adjust color as needed

            &:hover {
                background-color: #f8fafc; // Adjust color as needed
                color: #2d3748; // Adjust color as needed
            }
        }

        .detailroom__comments-list {
            .ant-spin-container {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));

                .ant-list-item.detailroom__comments-item {
                    border-block-end: none !important;

                    .commentItem__wrapper {
                        display: flex;
                        flex-direction: column;

                        .commentItem__heading {
                            display: flex;
                            align-items: center;

                            img {
                                object-cover: cover;
                                width: 2.5rem;
                                height: 2.5rem;
                                display: block;
                                border-radius: 50%;
                            }

                            div {
                                margin-left: 0.75rem;

                                h3 {
                                    font-weight: bold;
                                    text-transform: uppercase;
                                }

                                p {
                                    font-weight: normal;
                                    font-size: 0.875rem;
                                    color: #6b7280;
                                }
                            }
                        }

                        .commentItem__body {
                            margin-top: 0.75rem;
                        }
                    }
                }
            }
        }
    }

}

.k-animation-container {
    @apply p-4 rounded-lg bg-purple-400;
    padding: 1rem
        /* 16px */
    ;
    border-radius: 0.5rem
        /* 8px */
    ;
    background-color: white;

    .k-calendar-view {
        // @apply w-full;
        width: 100%;
    }

    .k-calendar-table.k-content {
        // @apply w-full;
        width: 100%;

        .k-calendar-tbody {
            // @apply text-center;
            text-align: center;
        }
    }
}